.Header-imageContainer {
    background-image: url('../img/bg1.jpg'); /* Path to your image */
    background-size: cover;   /* Ensures the image covers the entire container */
    background-position: center;  /* Centers the image in the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    filter: brightness(70%); /* Reduces the brightness to 50% */
}

