.page5Container {   background-color: rgb(27, 23, 17); }

.page5Parent{

    display: flex;
    flex-direction: row;
    padding : 10px;

}
.page5Child1{
    /* width: 50%; */
}

.page5Child2
{
border-style: solid;
border-color: bisque;
width: 50%;
height: 60%;
}
.page5Child2 p{

    color: bisque;
    padding: 20px;
    font-size: 30px;
}







   
     
